doctype 5
html(lang="en")
    head
        include knacss.css
        include style.css 
        link(rel="shortcut icon", href="favicon.png")
        title="Cozy Light, personal server management made easy"
        meta(name="description", content="")
        meta(name="viewport", content="width=device-width,initial-scale=1")
        meta(http-equiv="content-type", content="text/html; charset=utf-8")
        script(src='jquery-2.0.0.min.js')
        script(src='jquery.prettyPhoto.js')
        script(type='text/javascript').
          console.log('ok');
    body
        .step.first-step
            h1.main-title
                | Cozy Light
