rounded-border()
    -webkit-border-radius: arguments
    -moz-border-radius: arguments
    border-radius: arguments
            
dark-grey = #222
light-blue = #F3F9FD
light-grey = #DDD
blue = #1BABF4
orange = #FE8800
green = #60C85B

@font-face
    font-family: title
    src: url('fonts/maven-pro-light-200.otf')

@font-face
    font-family: titlelight
    src: url('fonts/maven-pro-light-100.otf')

@font-face
    font-family: main
    src: url('fonts/raleway-regular.ttf')

html,
body
    height 100%
    width 100%

body
    text-rendering optimizeLegibility
    font-family: main
    background-color: #F8F8F8
    color: dark-grey

.content
    max-width: 780px
    margin: auto
    font-size: 18px

.header
    //background: #323795
    background: #19414D
    background: white
    border-bottom: 1px solid #19414D
    padding-top: 50px
    margin-bottom: 60px
    padding-bottom: 70px
    color: white
    color: dark-grey
    //box-shadow: 0 3px 3px #999
    border-bottom: 3px solid #CCC

h1
    font-family: title
    font-weight: normal
    font-size: 70px
    margin-bottom: 0
    line-height: 52px
    margin-top: 60px
    padding-top: 10px

h2
    font-family: title
    font-weight: normal
    font-size: 54px
    margin-top: 0px

div.code
    text-align: center

    span
        font-family: DejaVu Sans Mono
        font-size: 20px
        color: white
        width: auto
        padding: 10px 20px
        border-radius: 20px
        background-color: #999

h3
h4
    font-family: main
    font-weight: normal
    font-variant: small-caps
    text-transform: uppercase
    color: dark-grey

h3
    padding-left: 0px
    padding-right: 10px
    margin-bottom: 10px
    margin-top: 10px
    color: dark-grey

h4
    font-size: 20px
    margin-top: 60px

a,
a:visited
    color #34a6ff
    text-decoration none

    &:hover
        text-decoration underline
        color: orange

button
    border: 0
    border-radius: 3px
    background-color: blue
    color: white
    padding: 10px
    margin-right: 5px
    font-family: main
    font-size: 22px
    width: 100%
    margin-bottom: 10px
    outline: none
    inline: none

button:hover
    background-color: orange
    outline: none

button:active
    background-color: orange - 30%
    box-shadow: 2px 2px 2px red - 40% inset

a
button
    cursor: pointer
    transition: 0.3s color ease

td 
    width 50%
    border-bottom: 1px solid #DDD
    font-size: 15px
    padding 5px 0

tr
    td:first-child
        font-weight: bold

table
    em
        font-weight: normal

.mt3
    margin-top: 30px

.mt6
    margin-top: 60px

.mt9
    margin-top: 90px


@media (max-width: 800px) 
 
    .content
        padding: 20px

    .docs svg
        transform: scale(0.9)
        position: relative
        left: -20px

    h1.mt9
        margin-top: 0

    h2
        font-size: 38px
        margin-top: 20px

    h3.mt6:first-child
        margin-top: 0px

    h3.mt3
        margin-top: 90px

    h3.mt6
        margin-top: 60px

    div.code.mt6
        margin-top: 20px

    div.code
        span
            font-size: 14px
     
@media (max-width: 650px) 

    #logo
        float: none
        margin-bottom: 20px

    td
        width: 100%
        display: block

    div.code
        span
            font-size: 12px

    .docs svg
        transform: scale(0.8)
        position: relative
        left: -40px

@media (max-width: 550px) 

    h4:first-child
        margin-bottom: 0

    .docs svg
        transform: scale(0.6)
        position: relative
        left: -60px

@media (max-width: 500px) 
    h1.mt9
        font-size: 45px

    h2
        font-size: 32px

@media (max-width: 420px) 

    h2
        font-size: 24px
        margin-top: 10px

    .docs svg
        transform: scale(0.5)
        position: relative
        left: -140px

